Repository kojjob/ofie-web-api: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier, rspec

.lefthook.yml:

# Lefthook configuration for pre-commit hooks
pre-commit:
  parallel: true
  commands:
    rubocop:
      tags: backend style
      glob: "*.{rb,rake}"
      run: bundle exec rubocop --force-exclusion {staged_files}
    
    brakeman:
      tags: backend security
      run: bundle exec brakeman -q --no-pager --force
    
    eslint:
      tags: frontend style
      glob: "*.js"
      run: npx eslint {staged_files}
    
    prettier:
      tags: frontend style
      glob: "*.{js,css,scss}"
      run: npx prettier --check {staged_files}
    
    rspec:
      tags: backend test
      glob: "*.rb"
      run: bundle exec rspec --fail-fast

pre-push:
  parallel: true
  commands:
    test:
      tags: backend test
      run: bundle exec rails test
    
    audit:
      tags: backend security
      run: bundle audit check --update

commit-msg:
  commands:
    check-commit-message:
      run: |
        # Commit message format check
        commit_regex='^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,100}$'
        commit_message=$(cat {1})
        
        if ! echo "$commit_message" | grep -qE "$commit_regex"; then
          echo "Invalid commit message format!"
          echo "Format: <type>(<scope>): <subject>"
          echo "Types: feat, fix, docs, style, refactor, test, chore"
          echo "Example: feat(properties): add batch upload functionality"
          exit 1
        fi

fix(ci): update Brakeman and fix AiLeaseGeneratorService schema issues
  Gemfile.lock
  app/models/rental_application.rb
  app/models/user.rb
  app/services/ai_lease_generator_service.rb
Due: rubocop, rspec

fix(security): resolve Brakeman warnings and update test syntax
  app/controllers/auth_controller.rb
  app/controllers/concerns/input_sanitizer.rb
  test/controllers/api/bot_controller_test.rb
  test/controllers/batch_properties_controller_test.rb
  test/models/bot_test.rb
Due: rubocop, rspec

fix(tests): update bot and csv_template tests to match implementation
  test/models/bot_test.rb
  test/unit/csv_template_test.rb
Due: rubocop, rspec

fix(tests): update test assertions to match current implementation
  test/integration/neighborhoods_view_test.rb
  test/integration/tools_views_test.rb
  test/jobs/process_batch_property_upload_job_test.rb
  test/models/message_test.rb
  test/services/notification_service_simple_test.rb
  test/unit/property_fields_test.rb
Due: rubocop, rspec

fix(navbar): fix JavaScript loading to enable navbar dropdowns and hamburger menu
  app/javascript/application.js
  test/application_system_test_case.rb
  test/system/navbar_functionality_test.rb
Due: rubocop, eslint, prettier, rspec

feat(inquiries): implement property inquiries landlord management
  app/controllers/dashboard_controller.rb
  app/controllers/property_inquiries_controller.rb
  app/models/property_inquiry.rb
  app/views/dashboard/_landlord_dashboard.html.erb
  app/views/property_inquiries/index.html.erb
  app/views/property_inquiries/show.html.erb
  config/routes.rb
  db/migrate/20251205010447_create_property_inquiries.rb
  test/controllers/property_inquiries_controller_test.rb
  test/factories/property_inquiries.rb
Due: rubocop, rspec

fix: add schema.rb and fix lint array bracket spacing
  app/controllers/property_inquiries_controller.rb
  db/schema.rb
Due: rubocop, rspec

fix: exclude auto-generated files from rubocop linting
  .rubocop.yml
Due: none

style: fix array bracket spacing in routes.rb for rubocop compliance
  config/routes.rb
Due: rubocop, rspec

fix(tests): update batch_properties tests to match actual error handling behavior
  test/controllers/batch_properties_controller_test.rb
Due: rubocop, rspec

fix(tests): resolve test failures from merge with main branch
  app/controllers/api/v1/bot_controller.rb
  app/controllers/property_comments_controller.rb
  app/models/user.rb
  app/services/bot_service.rb
  app/services/properties/create_service.rb
  test/controllers/api/bot_controller_test.rb
  test/controllers/blog_controller_test.rb
  test/controllers/property_comments_controller_test.rb
  test/fixtures/posts.yml
  test/fixtures/properties.yml
  test/fixtures/users.yml
  test/mailers/user_mailer_test.rb
  test/models/batch_property_upload_test.rb
  test/models/conversation_test.rb
  test/models/property_comment_test.rb
  test/services/bot_service_test.rb
  test/services/properties/create_service_test.rb
Due: rubocop, rspec

fix(tests): resolve CI test failures for PR #50
  test/controllers/properties_controller_test.rb
  test/controllers/property_comments_controller_test.rb
  test/factories/property_comments.rb
  test/jobs/process_batch_property_upload_job_test.rb
Due: rubocop, rspec

feat(blog): redesign blog detail page with Denver WP Residence styling
  app/controllers/blog_controller.rb
  app/views/blog/show.html.erb
Due: rubocop, rspec

fix(blog): reduce gap between blog content and sidebar
  app/views/blog/show.html.erb
Due: none

fix(blog): improve typography and prevent form submission errors
  app/views/blog/show.html.erb
Due: none

style(blog): increase sidebar width for better balance
  app/views/blog/show.html.erb
Due: none
