Repository kojjob/ofie-web-api: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier, rspec

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  tags: frontend style
  run: npx eslint {staged_files}

prettier:
  tags: frontend style
  run: npx prettier --check {staged_files}

rspec:
  tags: backend test
  run: bundle exec rspec --fail-fast

Fix production database configuration to use DATABASE_URL
  config/database.yml
Due: none

Fix NewsletterController authentication callback
  app/controllers/newsletter_controller.rb
Due: rubocop, rspec

Fix class name mismatch in enhanced_bot_controller
  app/controllers/api/v1/enhanced_bot_controller.rb
Due: rubocop, rspec

Fix port configuration for Fly.io deployment
  Dockerfile
Due: none

Fix StripeController authentication callback
  app/controllers/api/v1/webhooks/stripe_controller.rb
Due: rubocop, rspec

feat: Implement comprehensive enhancements for property management app
  ENHANCEMENTS_ROADMAP.md
  app/controllers/application_controller.rb
  app/controllers/concerns/error_handler.rb
  app/javascript/application.js
  app/javascript/controllers/infinite_scroll_controller.js
  app/javascript/controllers/modal_controller.js
  app/javascript/controllers/property_search_controller.js
  app/models/concerns/cacheable.rb
  app/models/property.rb
  app/queries/application_query.rb
  app/queries/payments_query.rb
  app/queries/properties_query.rb
  app/services/application_service.rb
  app/services/payments/process_payment_service.rb
  app/services/properties/create_service.rb
  app/services/properties/search_service.rb
  app/services/users/registration_service.rb
  config/initializers/cache_config.rb
  db/migrate/20250101000000_add_performance_indexes.rb
  sample_properties.csv
  simple_properties_test.csv
Due: rubocop, eslint, prettier, rspec

feat(seo): Implement comprehensive SEO enhancements and fixes
  SEO_IMPLEMENTATION_ROADMAP.md
  app/controllers/api/v1/properties_controller.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/seo_optimizable.rb
  app/controllers/home_controller.rb
  app/controllers/sitemap_controller.rb
  app/helpers/seo_helper.rb
  app/helpers/structured_data_helper.rb
  app/services/sitemap_generator_service.rb
  app/views/layouts/application.html.erb
  app/views/properties/_search_form.html.erb
  config/routes.rb
  corrected_properties.csv
  db/migrate/20250101000000_add_performance_indexes.rb
  db/schema.rb
  public/robots.txt
  test/services/properties/create_service_test.rb
Due: rubocop, rspec

fix(sitemap): Fix sitemap generation and format errors
  app/controllers/sitemap_controller.rb
  app/services/sitemap_generator_service.rb
Due: rubocop, rspec

Fix CI pipeline issues: remove sensitive CSV and fix RuboCop offenses
  app/controllers/concerns/seo_optimizable.rb
  app/helpers/seo_helper.rb
  app/helpers/structured_data_helper.rb
  corrected_properties.csv
Due: rubocop, rspec

docs: Create comprehensive README with detailed documentation
  README.md
Due: none

Fix all remaining RuboCop linting offenses
  .gitignore
  Gemfile
  app/controllers/api/v1/properties_controller.rb
  app/controllers/application_controller.rb
  app/controllers/batch_properties_controller.rb
  app/controllers/concerns/error_handler.rb
  app/controllers/concerns/input_sanitizer.rb
  app/controllers/concerns/seo_optimizable.rb
  app/controllers/health_controller.rb
  app/controllers/home_controller.rb
  app/controllers/sitemap_controller.rb
  app/helpers/seo_helper.rb
  app/helpers/structured_data_helper.rb
  app/models/concerns/cacheable.rb
  app/models/property.rb
  app/queries/application_query.rb
  app/queries/payments_query.rb
  app/queries/properties_query.rb
  app/services/application_service.rb
  app/services/payments/process_payment_service.rb
  app/services/properties/create_service.rb
  app/services/properties/search_service.rb
  app/services/sitemap_generator_service.rb
  app/services/users/registration_service.rb
  config/environments/development.rb
  config/initializers/cache_config.rb
  config/initializers/cors.rb
  config/initializers/rack_attack.rb
  config/initializers/secure_headers.rb
  config/initializers/sentry.rb
  config/routes.rb
  db/migrate/20250101000000_add_performance_indexes.rb
  test/controllers/batch_properties_controller_test.rb
  test/factories/properties.rb
  test/factories/users.rb
  test/jobs/process_batch_property_upload_job_test.rb
  test/models/batch_property_upload_test.rb
  test/services/properties/create_service_test.rb
  test/test_helper.rb
  test/unit/property_fields_test.rb
Due: rubocop, rspec

refactor: Remove Sidekiq and use Solid Queue exclusively
  ENHANCEMENTS_ROADMAP.md
  Gemfile
  Gemfile.lock
  README.md
  config/initializers/cache_config.rb
Due: rubocop, rspec

Fix eager loading and add CSP report endpoint
  app/controllers/csp_reports_controller.rb
  app/controllers/properties_controller.rb
  config/routes.rb
Due: rubocop, rspec

Fix property show page functionality and remove hardcoded values
  app/models/property.rb
  app/views/properties/_house_rules.html.erb
  app/views/properties/_scheduling_modal.html.erb
  app/views/properties/show.html.erb
Due: rubocop, rspec

Fix navbar dropdown and notification click handling issues
  app/controllers/csp_reports_controller.rb
  app/controllers/properties_controller.rb
  app/javascript/controllers/dropdown_controller.js
  app/javascript/controllers/notifications_controller.js
Due: rubocop, eslint, prettier, rspec

Fix CSP Reports Controller authentication errors
  app/controllers/csp_reports_controller.rb
Due: rubocop, rspec

Fix Bullet eager loading warnings for ActiveStorage attachments
  app/controllers/properties_controller.rb
Due: rubocop, rspec

Refine Bullet eager loading fix - remove unnecessary includes for HTML views
  app/controllers/properties_controller.rb
Due: rubocop, rspec

Fix property show page not rendering
  app/controllers/properties_controller.rb
Due: rubocop, rspec

Fix property show page rendering by removing state/zip_code references
  app/models/property.rb
Due: rubocop, rspec

Fix N+1 eager loading queries in properties controller
  app/controllers/properties_controller.rb
  app/views/properties/_related_properties.html.erb
Due: rubocop, rspec

Fix dropdown controller race condition and multiple instance conflicts
  app/javascript/controllers/dropdown_controller.js
Due: eslint, prettier

Fix dashboard eager loading warnings and optimize ActiveStorage queries
  app/controllers/dashboard_controller.rb
  app/views/dashboard/_landlord_dashboard.html.erb
Due: rubocop, rspec

Fix ActiveStorage eager loading in dashboard controller
  app/controllers/dashboard_controller.rb
Due: rubocop, rspec

Fix batch upload CSV functionality
  FINAL_N1_OPTIMIZATION_GUIDE.md
  N1_QUERY_OPTIMIZATION_SUMMARY.md
  app/controllers/api/v1/property_viewings_controller.rb
  app/controllers/dashboard_controller.rb
  app/controllers/properties_controller.rb
  app/controllers/property_comments_controller.rb
  app/javascript/controllers/batch_upload_controller.js
  app/models/property.rb
  app/models/property_comment.rb
  app/models/user.rb
  app/views/batch_properties/new.html.erb
  app/views/properties/_form.html.erb
  app/views/properties/_properties_grid.html.erb
  app/views/properties/_reviews_section.html.erb
  app/views/property_comments/_comments_section.html.erb
  db/migrate/20250831000001_add_counter_caches_and_indexes.rb
  db/schema.rb
Due: rubocop, eslint, prettier, rspec

Fix CSV template to match Property model attributes
  app/controllers/batch_properties_controller.rb
  app/javascript/controllers/batch_upload_controller.js
  test_batch_upload.csv
Due: rubocop, eslint, prettier, rspec

Fix property show page access by removing undefined state reference
  app/views/properties/_properties_grid.html.erb
Due: none

Add debugging and fallback onclick handler for file selection
  app/javascript/controllers/batch_upload_controller.js
  app/views/batch_properties/new.html.erb
Due: eslint, prettier

Ensure complete removal of state field reference in properties grid
  app/views/properties/_properties_grid.html.erb
Due: none

Prepare application for production deployment
  DEPLOYMENT.md
  DEPLOYMENT_CHECKLIST.md
  NAVIGATION_FIXES_SUMMARY.md
  app/assets/stylesheets/application.css
  app/assets/stylesheets/navbar_enhancement.css
  app/assets/stylesheets/properties/gallery.css
  app/assets/stylesheets/properties/show.css
  app/assets/stylesheets/z-index.css
  app/controllers/notifications_controller.rb
  app/javascript/application.js
  app/javascript/controllers/dropdown_controller.js
  app/javascript/controllers/index.js
  app/javascript/controllers/mobile_menu_controller.js
  app/javascript/controllers/notifications_controller.js
  app/views/layouts/application.html.erb
  app/views/properties/index.html.erb
  app/views/properties/show.html.erb
  app/views/shared/_navbar.html.erb
  bin/setup-credentials
  config/database.yml
  config/deploy.yml
  config/environments/production.rb
  config/importmap.rb
  config/storage.yml
  diverse_properties.csv
Due: rubocop, eslint, prettier, rspec

Configure Fly.io deployment
  config/initializers/assets.rb
  fly.toml
Due: rubocop, rspec

docs: Add comprehensive platform documentation
  CLAUDE.md
  REAL_ESTATE_MARKETING_PLATFORM.md
  TODO.md
Due: none

fix: Correct lease agreement association in tenant dashboard
  Gemfile.lock
  app/controllers/dashboard_controller.rb
  app/controllers/properties_controller.rb
Due: rubocop, rspec

test: Setup comprehensive test infrastructure
  Gemfile
  Gemfile.lock
  test/factories/lease_agreements.rb
  test/factories/maintenance_requests.rb
  test/factories/payments.rb
  test/factories/properties.rb
  test/factories/rental_applications.rb
  test/factories/users.rb
  test/test_helper.rb
Due: rubocop, rspec

fix: Add nested property_reviews routes for web interface
  config/routes.rb
Due: rubocop, rspec

fix: Use correct association names in tenant_dashboard
  app/controllers/dashboard_controller.rb
Due: rubocop, rspec

fix: Correct all rental_applications association references
  app/controllers/rental_applications_controller.rb
  app/views/properties/_host_information.html.erb
Due: rubocop, rspec

Fix FactoryBot syntax errors and add missing factories for TDD
  app/models/rental_application.rb
  test/factories/lease_agreements.rb
  test/factories/maintenance_requests.rb
  test/factories/payment_methods.rb
  test/factories/payment_schedules.rb
  test/factories/payments.rb
  test/factories/rental_applications.rb
  test/factories/users.rb
  test/services/payment_service_test.rb
Due: rubocop, rspec

Add WebMock and VCR for HTTP mocking in tests
  Gemfile
  Gemfile.lock
  test/test_helper.rb
Due: rubocop, rspec

Path conditions:
  rubocop: any of: *.{rb,rake}
  eslint: any of: *.js
  prettier: any of: *.{js,css,scss}
  rspec: any of: *.rb
